/* fonts */
@font-face {
    font-family: Maragsa;
    src: url("assets/Maragsa-Display__V2.5.otf");
}
@font-face {
    font-family: Caveat;
    src: url("assets/Caveat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    src: url("assets/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url("assets/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: normal;
    src: url("assets/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: italic;
    src: url("assets/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
 
/* add boxsizing */
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar css */
header.navbar {
    z-index: 1000;
    height: 4.375rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.875rem;
    background-color: #91cdff;
    font-size: 20px;
    font-family: Maragsa;
    letter-spacing: 0.25em;
    color: #080088;
}
header.navbar section {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
header.navbar img {
    max-height: 3.125rem;
}
header.navbar h1 {
    font-size: 1.25rem;
}
header.navbar 