/* fonts */
@font-face {
    font-family: Maragsa;
    src: url("assets/Maragsa-Display__V2.5.otf");
}
@font-face {
    font-family: Caveat;
    src: url("assets/Caveat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    src: url("assets/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url("assets/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: normal;
    src: url("assets/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: italic;
    src: url("assets/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

/* variable */
:root {
  --nav1-display: inline-block;
  --nav2-display: none;
}

 
/* add boxsizing */
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar css */
header.navbar {
    z-index: 1000;
    max-width: 100vw;
    height: 11.450rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    font-family: Maragsa;
    position: relative;
    overflow-x: hidden;
    letter-spacing: 0.25em;
    color: #080088;
}
header.navbar section {
    padding: 0px 1.875rem;
    width: 100%;
    height: 5.875rem;
    background-color: #91cdff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    position: relative;
}
header.navbar img {
    max-height: 3.125rem;
}
header.navbar h1 {
    font-size: 1.50rem;
    text-align: center;
}
header.navbar a {
    te