/* fonts */
@font-face {
    font-family: Maragsa;
    src: url("assets/Maragsa-Display__V2.5.otf");
}
@font-face {
    font-family: Caveat;
    src: url("assets/Caveat-VariableFont_wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    src: url("assets/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url("assets/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: normal;
    src: url("assets/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: italic;
    src: url("assets/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

/* variable */
:root {
  --nav1-display: inline-block;
  --nav2-display: none;
}

 
/* add boxsizing */
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar css */
header.navbar {
    z-index: 1000;
    max-width: 100vw;
    height: 11.450rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    font-family: Maragsa;
    position: relative;
    overflow-x: hidden;
    letter-spacing: 0.25em;
    color: #080088;
}
header.navbar section {
    padding: 0px 1.875rem;
    width: 100%;
    height: 5.875rem;
    background-color: #91cdff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    position: relative;
}
header.navbar img {
    max-height: 3.125rem;
}
header.navbar h1 {
    font-size: 1.50rem;
    text-align: center;
}
header.navbar a {
    text-decoration: none;
    color: #080088;
    text-align: center;
    font-size: 1.2rem;
}
header.navbar nav{
    padding: 0px 1.875rem;
    width: 100%;
    height: 5.875rem;
    background-color: #a9d8ff;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: -webkit-sticky;
    display: flex;
    gap: 0.3125rem;
}
.nav-button {
    display: inline-block;
    height: 3rem;
}
.nav1 {display: var(--nav1-display);}
.nav2 {display: var(--nav2-display);}
.nav3 {display: none;}

/* footer css */
footer {
    display: flex;
    max-height: 11rem;
    padding: 2rem 2.875rem;
    max-width: 100vw;
    background-color: #a9d8ff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
footer h1 {
    font-family: Maragsa;
    font-size: 2rem;
    margin: 0;
    color: #1e2966;
    display: block;
}
footer ul {
    padding: 0;
    width: 50%;
    list-style-type: none;
    font-family: 'Times New Roman';
}
footer ul li {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0;
    width: 100%;
    height: 2rem;
}
footer ul img {
    text-align: left;
    margin-right: 0.5rem;
    vertical-align: middle;
    height: 100%;
    width: auto;
    display: inline-block;
}
footer ul p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    margin: 0;
    text-align: left;
}

/* some example code delete later */
article {
    background-repeat: repeat-y;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: block;
    background-position: center;
}