:root {
    --darkblueAccent: #1e2966;

    --darkblue: #0d0790;
    --darkblue40: #0d079066;

    --blueAccent: #0151ca;

    --blue: #4987ff;
    --blue60: #4987ff99;
    --blue80: #4987ffCC;

    --lightblue: #91cdff;
    --lightblue40: #91cdff66;
    --lightblue60: #91cdff99;
    --lightblue80: #91cdffCC;

    --yellow: #fef188;

    --gold: #fdbc23;

    --white: #FFFFFF;
    --black: #000000;
    --black20: rgba(0, 0, 0, 0.2);
}

/* Fonts */
@font-face {
    font-family: Maragsa;
    src: url(../../Assets/Fonts/Maragsa-Display__V2.5.otf);
}
@font-face {
    font-family: Caveat;
    src: url(../../Assets/Fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Avenir;
    font-style: normal;
    src: url(../../Assets/Fonts/Avenir_Regular.ttf);
}
@font-face {
    font-family: Avenir;
    font-weight: bold;
    src: url(../../Assets/Fonts/Avenir_Heavy.ttf);
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    src: url("../../Assets/Fonts/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url("../../Assets/Fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: normal;
    src: url("../../Assets/Fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: PlayfairDisplay;
    font-style: italic;
    src: url("../../Assets/Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

/* Basic Classes */

/* Others */
body, html {
    padding: 0px;
    margin: 0px;

    scroll-behavior: smooth;

    scroll-snap-type: y proximity;
    scroll-padding-top: 5rem;
}
h1, h2 {
    font-family: Maragsa;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}
.active {
    text-decoration: underline !important;
}
.disabled {
    cursor: not-allowed !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    height: 5rem;
    width: 100%;

    padding: 0px 1.5rem;
    box-sizing: border-box;

    font-family: Maragsa;
    font-size: 1.3rem;
    color: var(--darkblue);

    background-color: var(--lightblue80);
    backdrop-filter: blur(20px);

    z-index: 999;
}
header section {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1.5rem;
}
header section h1 {
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}
header section h1 span {
    font-size: 1.8rem;
}
header section img {
    height: 4rem;
}
header nav {    
    display: flex;
    flex-direction: row;
    display: none;
}
header .hamburger {
    aspect-ratio: 1/1;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.hamburger hr {
    width: 80%;
    border: var(--darkblue) 1px solid;
    border-radius: 5px;
    border-width: 2px;
    margin: 0;
    transition: transform 0.2s ease-in, opacity 0.2s ease-out; 
}
#pop-up {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    padding: 2rem;
    line-height: 2;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 100%;
    right: 0;
    background-color: #92ceffd5;
    z-index: 9999;
    width: auto;
    height: auto;
}
#pop-up a{
    text-decoration: none;
    white-space: nowrap;
    color: var(--darkblue);
}
/* transition */
header .hamburger.clicked {
    justify-content: center;
}
.hamburger.clicked #top-line{
    width: 100%;
    transform: translateY(90%) rotate(45deg);
}
.hamburger.clicked #bottom-line {
    width: 100%;
    transform: translateY(-100%) rotate(-45deg);
}
.hamburger.clicked #mid-line {
    border-color: rgba(255, 255, 255, 0);
}

article {
    position: relative;
    height: calc(100vh - 5rem);

    padding: 3rem;
    box-sizing: border-box;

    scroll-snap-align: start;
}
.articleTop {
    background-image: url(../../Assets/Backgrounds/Background1.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.articleMid {
    background-image: url(../../Assets/Backgrounds/Background2.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.articleBot {
    background-image: url(../../Assets/Backgrounds/Background3.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

footer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    min-height: calc( (100vh - 5rem) / 3 );

    padding: 1.5rem;

    font-size: 1.1em;
    color: var(--black);

    background-color: var(--lightblue80);
}
footer div {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
footer h2 {
    margin: 0;

    font-family: Maragsa;
    font-size: 1.8em;
    color: var(--darkblue);
}
footer li {
    background: url(../../Assets/Images/Icons/Phone.png) no-repeat left center;
    background-size: 1.2em;

    padding-left: 2em;

    margin-bottom: 0.3em;
}
footer ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
footer ul a {
    color: var(--black);
}
footer a {
    color: var(--black);
}